{% extends 'Home/base.html' %}
{% block content %}

<style>
    .buttonDC {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background: var(--gradient-1);
    border-radius: 6px;
    cursor: pointer;
    transition: all .25s ease;
    }
    .buttonDC:hover {
    background: var(--gradient-2);
    }
    .buttonDC.show-modal,
    .modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background: var(--text-alice-blue);
    }
    section.active .show-modal {
    display: none;
    }
    .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.3); */
    opacity: 0;
    pointer-events: none;
    }
    section.active .overlay {
    opacity: 1;
    pointer-events: auto;
    }
    .modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
    }
    section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    }
    .modal-box i {
    font-size: 70px;
    color: var(--text-carolina-blue);
    }
    .modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
    }
    .modal-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
    }
    .modal-box .buttons {
    margin-top: 25px;
    }
    .modal-box button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
    }

    section {
        width: 100%;
        height: 100%;
    }

    .content-blog-about {
        width: 100% !important;
        height: auto !important;

        margin: 100px 0 0 0;
    }
        
    header {
        background: var(--bg-oxford-blue-2);
    }

    footer {
        display: none !important;
    }
</style>

<section class="active">
    <button class="show-modal">Show Modal</button>
    <span class="overlay"></span>
    <div class="modal-box">
        <i class="fa-regular fa-circle-check"></i>
        <h2 style="text-align: center;">{% trans 'Sent Successfully' %}</h2>
        <h3>{% trans 'We have received your request and will contact you shortly.' %}</h3> <!-- "{{ object }} ?" -->
        <div style="width: 100%; height: auto; display: flex; justify-content: center; align-items: center;">
            <div class="buttons">
                <button class="buttonDC" style="padding-top: 10px; padding-bottom: 10px;"><a href="/" id="redirectLink" style="text-decoration: none; color: #fff; display: flex; justify-content: center; align-items: center;">Go back</a></button>
            </div>
        </div>
    </div>
</section>

  <script>
    const section = document.querySelector("section"),
        overlay = document.querySelector(".overlay"),
        showBtn = document.querySelector(".show-modal"),
        closeBtn = document.querySelector(".close-btn");

        // showBtn.addEventListener("click", () => section.classList.add("active"));
        // overlay.addEventListener("click", () =>
        //     section.classList.remove("active")
        // );

        // closeBtn.addEventListener("click", () =>
        //     section.classList.remove("active")
        // );
  </script>

{% endblock content %}